body {
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
}

.component {
  width: 375px;
  background-color: white;
  border-radius: 15px;
  align-self: center;
}

.pic {
  background-image: url('./assets/drawers.jpg');
  background-size: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 0 10% 0 10%;
  line-height: 1.6;
}

.article .intro {
  padding-top: 30px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.article .body {
  padding-top: 10px;
  font-size: 13px;
  color: hsl(214, 17%, 51%);
}

.share {
  display: grid;
  height: 70px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding: 30px 10% 20px 10%;
}

.share .avatar {
  background-image: url('./assets/avatar-michelle.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  grid-column-start: 1;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.share .name,
.share .date {
  grid-column-start: 2;
  font-size: 13px;
}

.share .name {
  font-weight: 500;
  color: hsl(217, 19%, 35%);
}

.share .date {
  color: hsl(214, 17%, 51%);
}

.share .shareIcon {
  grid-column-start: 3;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeShare {
  margin-top: 35px;
  background-color: hsl(217, 19%, 35%);
  display: none;
  height: 60px;
  flex-direction: row;
  border-radius: 0 0 15px 15px;
  padding: 0 10% 0 10%;
  justify-content: space-around;
  align-items: center;
}

.activeShare .shareText {
  color: hsl(214, 17%, 51%);
}

.activeShare .activeShareIcon {
  background-color: hsl(214, 17%, 51%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeShare .activeShareIcon img {
  height: 50%;
}

@media only screen and (min-width: 1300px) {
  .component {
    width: 1000px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .pic {
    width: 20vw;
    min-width: 384.4px;
    height: 300px;
    grid-row-start: 1;
    grid-row-end: span 2;
    border-radius: 15px 0 0 15px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .share {
    grid-template-columns: auto;
  }

  .share,
  .article {
    grid-column-start: 2;
  }

  .share .name,
  .share .date {
    grid-column-start: 1;
    margin-left: 55px;
  }

  .share .name {
    grid-row-start: 1;
    align-self: end;
  }

  .share .date {
    grid-row-start: 2;
  }
}
